:root {
    --beige: #F6E5BA;
    --black: #333333;
    --white: #f8f8f8;
    --indigo: #322c4d;
    --teal: #00ada7;
    --orange: #f4a02b;
    --red: #f70002;
    --pink: #ed6a9a;
    --green: #95c460;
    --canal-blue: #6eabbf;
    --future-green: #BDE3B4;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

#hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--beige); 
    overflow: hidden;
    z-index: 10;
    animation: bgColorChange 0.1s 4s steps(1) forwards;
}

#intro-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#intro-title {
    color: var(--white);
    font-size: clamp(3rem, 10vw, 6rem);
    line-height: 0.9;
    width: 65%;
    
    opacity: 1; 
    clip-path: inset(50% 0 50% 0); 
    

    animation: centerSplitReveal 1.2s 6.2s cubic-bezier(0.77, 0, 0.175, 1) forwards;

    will-change: clip-path;
}

#tunnel {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 140vh; 
    z-index: 2;
    object-fit: cover;
    animation: layerFadeOut 0.8s 3s ease-in forwards;
    overflow: hidden;
}

#hero-train {
    position: absolute;
    bottom: 35%;
    left: 50%;
    width: 300px;
    z-index: 3;
    transform: translate(-50%, 0) scale(1);
    opacity: 1;
    animation: fullTrainSequence 5.3s 0.5s cubic-bezier(0.7, 0, 0.84, 0) forwards;
    will-change: transform, opacity;
}

/* --- Animations --- */

@keyframes fullTrainSequence {
    0% { 
        transform: translate(-50%, 0) scale(1); 
        opacity: 1; 
        filter: blur(0px);
    }

    85% {
        transform: translate(-50%, 500px) scale(55); 
        opacity: 1;
        filter: blur(0px); 
    }
    100% { 
        transform: translate(-50%, 500px) scale(55); 
        opacity: 0; 
        filter: blur(10px);
        visibility: hidden;
    }
}

@keyframes textFadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes centerSplitReveal {
    0% {
        clip-path: inset(50% 0 50% 0);
        filter: brightness(2); 
    }
    40% {
        clip-path: inset(48% 0 48% 0);
    }
    100% {
        /* Fully revealed */
        clip-path: inset(0% 0 0% 0);
        filter: brightness(1);
    }
}

@keyframes layerFadeOut {
    0% { opacity: 1; visibility: visible; }
    100% { opacity: 0; visibility: hidden; }
}

@keyframes bgColorChange {
    0% { background-color: var(--canal-blue); }
    100% { background-color: var(--canal-blue); }
}

.scroll-lock {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: fixed; /* Extra layer of protection for mobile */
}

.horizontal-section {
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    position: relative;
}

.scroll-content {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    height: 100vh;
    will-change: transform;
}

.scroll-content img {
    height: 100vh;
    width: auto;
    display: block;
}

.content-container {
    width: 70ch;
    margin: auto;
    position: relative;
    height: fit-content;
}

.subway-wrap-text {
    float: left;
    width: 100%;
    margin-left: -60%;
    shape-outside: url('../graphics/subwaycarside.png');
    shape-margin: 20px;
    shape-image-threshold: 0.5;
}

.canalboat-wrap-text {
    float: right;
    width: 100%;
    margin-right: -60%;
    shape-outside: url('../graphics/canalboat.png');
    shape-margin: 20px;
    shape-image-threshold: 0.5;
    overflow: hidden;
}

.transition {
    height: 400px;
    width: 100%;
}

#canal-subway {
    background: linear-gradient(180deg, var(--canal-blue) 0%, #F6E5BA 100%);
}

#subway-highway {
    background: linear-gradient(180deg, #F6E5BA 0%, #A77BB3 40.87%, #322C4D 81.73%);
}

#highway-graffiti {
    background: linear-gradient(180deg, #322C4D 0%, #333333 100%);
}

#graffiti-future {
    background: linear-gradient(180deg, #333333 0%, #3E6357 46.63%, #BDE3B4 100%);
}

.canal{
    background-color: var(--canal-blue);
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr min(70ch, 100%) 1fr;
    padding-top: 50px;
    overflow: hidden;
}

.graphics-left {
    align-self: stretch;
    position: relative;
    margin-right: 40px;
}

.canal #rock1 {
    position: absolute;
    right: 0;
    top: 20%;
    width: 246.35px;
    height: 186px;
    transform: rotate(42.72deg);
}

.canal #rock2 {
    right: 130px;
    top: 43%;
    position: absolute;
    width: 125.88px;
    height: 65.82px;
    transform: rotate(26.67deg);
}

.canal #rock3 {
    right: 20px;
    top: 52%;
    position: absolute;
    width: 170.31px;
    height: 128.59px;
    transform: rotate(0deg);
}

.subway{
    background-color: var(--beige);
}

.highway{
    background-color: var(--indigo);
    color: var(--white);
}

.graffiti{
    background-color: var(--black);
    color: var(--white);

}

.future{
    background-color: var(--future-green);
}

p {
    padding: 0px;
    padding-bottom: 20px;
    margin: auto;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

h1, h2, h3, h4, h5 {
    font-family: "Libre Bodoni", serif;
}

h1 {
    font-weight: 800;
    margin: 0;
}

img {
    display: block;
    margin: auto;
}

.figure {
    position: relative;
    display: inline-block;
    --extra-space: 0px;
}

figure::before,
figure::after {
  content: "";
  display: block;
  /* Use the variable set by JavaScript */
  height: var(--extra-space);
  width: 100%;
}

.content_img {
    width: 100%;
    border-style: solid;
    border-color: var(--white);
    border-width: 20px 20px 100px 20px;
    box-sizing: border-box;
}

figcaption {
    font-family: "Caveat", cursive;
    position: relative;
    bottom: 80px;
    z-index: 10;
    font-size: 18pt;
    justify-self: center;
}

@media screen and (max-width: 800px) {
    .content-container {
        width: 100%;
        max-width: none;
    }

    p {
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
    }

    .graphics-left, .graphics-right {
        display: none;
    }
    .content_img {
        width: 95%;
    }
    .canal {
        display: block;
    }
    #tunnel {
        overflow-x: hidden;
    }

    .canalboat-wrap-text {
        width: 50%;
        margin-right: -20%;
    }

    .subway-wrap-text {
        width: 70%;
        margin-left: -40%;
    }

    figure {
        margin: 20px 0;
    }
}